
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

#root.page{
	display:flex;  font-family: "Quicksand", sans-serif;
	.content{
		display:block;
		flex-wrap:wrap;
		justify-content:start;
		flex-direction:row;
		align-items:flex-start;
		overflow-y:auto;
	}
	//background: linear-gradient(90deg, var(--a-colour), var(--b-colour));
	background-image:url('../../assets/background.avif');
	background-size:cover;
	background-color:#744747;
	//background-color:#eb8c88;
	background-blend-mode:multiply;
	

	.qna{
		position:fixed;
		width:100vw;
		height:100vh;
		left:0px;
		top:0px;
		background-color:#00000088;
		justify-content:center;
		align-items:center;
		display:none;
		&.show{
			display:flex;
		}
		.container{
		>div{
			padding-bottom:10em;
		}
			position:relative;
			.close{
				position:absolute;
				font-size:3em;
				top:0.75em;
				cursor:pointer;
				right:0.5em;
				user-select:none;
			}
			background-color:#744747;
			max-width:min(100vw, 50em);
			padding:2em;
			max-height:100vh;
			overflow-y:auto;
		}
	}
	/*h2{
		border-bottom:0.05em solid white;
		text-align:center;
		margin-top:0em;
		padding-top:0.8em;
		padding-bottom:0.2em;
		background-color:#3b3b3b;
		margin-bottom:0.4em;
	}*/
	aside{
		flex-shrink:0;
		flex-basis:250px;
		height:100%;
		padding-left:1em;
		background-color:#bb5f5fc7;
		overflow-y:auto;
		h2{
			position:relative;
			user-select:none;
			cursor:pointer;
			&::after{
				content:'>';
				display:block;
				position:absolute;
				right:1em;
				font-weight:bold;
				font-size:1.25em;
				top:-0.1em;
				transform:rotate(90deg);
			}
			&.show{
				&::after{
					transform:rotate(270deg);
				}
			}
		}
		.list{
			display:none;
			&.show{
				display:block;
			}
			div{
				margin-bottom:0.1em;
				cursor:pointer;
				user-select:none;
			}
			
		}
		.multi-checkbox{
			width:1em;
			height:1em;
			margin-right:0.3em;
			border-radius:0.3em;
			transform:translateY(0.25em);
			display:inline-block;
			background-color:white;
			position:relative;
			transition:all 0.3s;
			&.active{
				background-color:green;
				&::before{
					content:'✓';
					position:absolute;
					font-size:1.0em;
					transform:translate(0.1em, -0.2em);
				}
			}
			&.removed{
				background-color:rgb(245, 72, 72);
				&::before{
					content:'x';
					position:absolute;
					font-size:1.2em;
					transform:translate(0.15em, -0.3em);
				}
			}
		}
		div.picked.language{
			font-weight:bold;
		}
		.list.language, .list.rating{
			>div{
				&.active{
					font-weight:bold;
				}
			}
		}
		.list.rating{
			>div{
				padding-left:1em;
				position:relative;
			}
			.active{
				&::before{
					content:'>';
					display:block;
					position:absolute;
					left:-0em;
					font-weight:bold;
					font-size:1.25em;
					top:-0.1em;
					transform:rotate(270deg);
				}
			}
			&.down{
				.active::before{
					transform:rotate(90deg);
				}
			}
		}
	}
	&.hideLandmines{
		article{
			>.data .landmines{
				display:none;
			}
		}
	}
	&.hideTags{
		article{
			>.data .tags{
				display:none;
			}
		}
	}
	article{
		display:inline-flex;
		margin:0.5em;
		padding:1em;
		padding-bottom:0em;
		position:relative;
		background-color:#bb5f5fd5;
		border-radius:0.5em;
		//max-width:calc(100vw - 3em);
		height:calc(370px + 20px);
		.new{
			display:none;
		}
		&.new{
			.new{
				position:absolute;
				background-color:red;
				
				display:block;
				bottom:1em;
				right:-2em;
				width:8em;
				text-transform:none;
				font-size:1.5em;
				font-weight:bold;
				padding-top:0.2em;
				padding-bottom:0.2em;
				text-align:center;
				transform:rotate(-45deg);
			}
		}
		.img{
			display:block;
			width:260px;
			height:370px;
			position:relative;
			overflow:hidden;
			
			img{
				width:100%;
				height:100%;
				object-fit: cover;
				object-position:center center;
			}
		}

		>.data{
			padding:0.5em;
			padding-left:1.5em;
			max-width:13em;
			height:calc(370px - 1em);
			h2{
				margin:0px;
				display:block;
				font-size:1.5em;
				max-height:4em;
				text-overflow:ellipsis;
				overflow:hidden;   
				    -webkit-box-orient: vertical; /* Indicate the text direction */
				    display: -webkit-box; /* Specify that we want to use webkit-box */
				-webkit-line-clamp: 3; /* Set the desired number of lines */

			}
			.pairings{
				.pairing{
					width:2.5em;
					text-shadow:0px 0px 5px rgb(255, 255, 255);
				}
				.lesbian{
					background-image:url('../../assets/Lesbian_pride_flag_2018.svg.png');
					background-size:auto 100%;
					color:rgb(98, 43, 100);
					//color:#ffffff00;
				}
				.trans{
					background-image:url('../../assets/trans.png');
					background-size:auto 100%;
					color:rgb(98, 43, 100);
					//color:#ffffff00;
				}
				.open{
					background-image:url('../../assets/Open_relationship.png');
					background-size:auto 100%;
					color:rgb(255, 255, 255);
					text-shadow:0px 0px 5px rgb(0, 0, 0);
					//color:#ffffff00;
				}
				button{
					appearance:unset;
					background-color: #f7736e;
					color:rgb(114, 57, 57);
					border:unset;
					border-radius:0.3em;
					margin:0.1em;
					padding:0.1em 0.3em;
				}
				.status{
					&.in-progress{
						background-color:rgb(247, 172, 61);
					}
					&.completed{
						background-color:rgb(121, 219, 97);
					}
					&.cancelled{
						background-color: #fd0800c7;
					}
				}
				.length{
					&.medium{
						background-color:rgb(247, 172, 61);
					}
					&.long{
						background-color:rgb(121, 219, 97);
					}
					&.short{
						background-color: #ec524d;
					}
				}
			}
			.desc{
				//font-weight:100;
				font-size:0.8em;
				margin-bottom:0.5em;
			}
			display:inline-flex;
			flex-direction:column;
			.top{
				height:100%;
			}
			.tags{
				button{
					appearance:unset;
					background-color: #f7736ec7;
					color:rgb(114, 57, 57);
					border:unset;
					border-radius:0.3em;
					margin:0.1em;
					padding:0.1em 0.3em;
					&.romance{
						//background-image:url("../../assets/heart-svgrepo-com.svg");
						background-size:100% 100%;
						//height:1.35em;
						mask:url("../../assets/heart-svgrepo-com.svg");
						mask-size:100% 100%;
						color:#00000000;
						width:1.35em;
						background-blend-mode: multiply;
					}
				}
			}
			.landmines{
				button{
					appearance:unset;
					background-color: #fd0800c7;
					color:rgb(114, 57, 57);
					border:unset;
					border-radius:0.3em;
					margin:0.1em;
					padding:0.1em 0.3em;
				}
			}
			.ratings{
				margin-bottom:0.5em;
			}
			p{
				
				font-weight:bold;
			}
			span{
				&.spoiler{
					//background-color:black;
					border-radius:0.2em;
					padding-left:0.2em;
					padding-right:0.2em;
  					filter: blur(0.35em);
						transition:all 0.3s;
					&:hover{
						filter: blur(0px);
					}
				}
			}
		}
	}
	@media (max-width: 1000px) {
		article:nth-child(2n){
			flex-direction:row-reverse;
		}
		aside{
			display:block;
			position:fixed;
			left:calc(-100% - 2em);
			transition:all 0.3s;
			font-size:2em;
			z-index:100;
			width:100%;
			&.show{
				display:block;
				left:0%;
				background-color:#f7736e;
			}
		}
		article{
			width:calc(100vw - 1em);
			height:calc(370px * 1.5 + 20px);
			font-size:1.5em;
			//margin:0px;
			border-radius:0;
			//padding:0px;
			padding-left:0.5em;
			padding-right:0.5em;
			margin-left:0px;
			margin-right:0px;
			.pairings, .tags{
				button{
					font-size:0.8em;
				}
			}
			>div{
				width:100%;
				max-width:unset;
				padding-left:0.5em;
				height:calc(370px * 1.5 - 0.8em);
			}
			.img{
				width:calc(260px * 1.5);
				max-width:calc(40vw);
				height:calc(370px * 1.5);
				margin-left:0.5em;
				margin-right:0.5em;
				display:block;
				img{
					object-fit: cover;
				}
			}
		}
	}
	.buttons{
		display:flex;
		align-items:center;
		justify-content:center;
		>.contents{
			width:calc(4.7em * 3 * 0.8);
			display:flex;
			flex-wrap:wrap;
			button{
				appearance:unset;
				color:white;
				display:block;
				margin:0.3em;
				font-size:0.8em;
				border:0px;
				outline:0px;
				flex-shrink:1;
				flex-grow:0;
				background-color:#505050;
				width:4em;
				border-radius:0.3em;
				filter:drop-shadow(0.0em 0.0em 0.3em rgba(0, 0, 0, 0.685));
				height:4em;
				&:hover, &:active{
					background-color:rgb(41, 41, 41);
				}
			}
		}
	}
}