@use 'sass:math';
@use 'themes' as *;
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@font-face {
    font-family: 'Indira K';
    src: url('../../assets/fonts/IndiraK.woff2') format('woff2'),
        url('../../assets/fonts/IndiraK.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* { box-sizing: border-box; min-width: 0; min-height: 0; }
$default-padding: 0.5rem;
$default-margin: 0.5rem;
$default-border-radius: 0.5rem;
$image-width: 250px;
$image-height: 370px;
$data-section-width: 16.5em;
$tag-button-height:1.4em;
$tag-section-max-height: 6 * $tag-button-height;
$tag-section-min-height: 1 * $tag-button-height;

$mainsection-width: calc($image-width + $data-section-width);
$article-margin: $default-margin;
$article-padding: $default-margin;
$article-max-height:calc(2 * $article-padding 
						+  $image-height 
						+ $tag-section-max-height);

$aside-width: 18vw;
$content-width: 100vw - $aside-width;
$mobile-size-multiplier:1.5;
.filters-open{
	animation: make-filter-space 0.5s forwards;
}
.filters-closed{
	animation: remove-filter-space 0.5s forwards;
}
#root.page{
	display:grid;

	grid-template-columns: 22vw auto;
	--filter-padding-left: 1em;
	--filter-white-space: normal;
	
	font-family: "Quicksand", sans-serif;
	//transition-behavior: allow-discrete;
	@keyframes make-filter-space {
		0% {
			grid-template-columns: 0vw auto;
			--filter-padding-left: 0em;
			--filter-white-space: nowrap;
		}
		5% {--filter-padding-left: 0.05em;--filter-white-space: nowrap;}
		10% {--filter-padding-left: 0.1em;--filter-white-space: nowrap;}
		15% {--filter-padding-left: 0.15em;--filter-white-space: nowrap;}
		20%{--filter-padding-left: 0.2em;--filter-white-space: nowrap;}
		25%{--filter-padding-left: 0.25em;--filter-white-space: nowrap;}
		30%{--filter-padding-left: 0.3em;--filter-white-space: nowrap;}
		35%{--filter-padding-left: 0.35em;--filter-white-space: nowrap;}
		40%{--filter-padding-left: 0.4em;--filter-white-space: nowrap;}
		45%{--filter-padding-left: 0.45em;--filter-white-space: nowrap;}
		50%{--filter-padding-left: 0.5em;--filter-white-space: nowrap;}
		55%{--filter-padding-left: 0.55em;--filter-white-space: nowrap;}
		60%{--filter-padding-left: 0.6em;--filter-white-space: nowrap;}
		65%{--filter-padding-left: 0.65em;--filter-white-space: nowrap;}
		70%{--filter-padding-left: 0.7em;--filter-white-space: nowrap;}
		75%{--filter-padding-left: 0.75em;--filter-white-space: nowrap;}
		80%{--filter-padding-left: 0.8em;--filter-white-space: nowrap;}
		85%{--filter-padding-left: 0.85em;--filter-white-space: nowrap;}
		90%{--filter-padding-left: 0.9em;--filter-white-space: nowrap;}
		95%{--filter-padding-left: 0.95em;--filter-white-space: nowrap;}
		99%{--filter-padding-left: 0.99em;--filter-white-space: nowrap;}
		100% {
			--filter-padding-left: 1em;
			grid-template-columns: 22vw auto;
			--filter-white-space: normal;
		}
	}

	@keyframes remove-filter-space {
		0%{
			grid-template-columns: 22vw auto;
			--filter-white-space: nowrap;
			--filter-padding-left: 1em;
		}

		5% {--filter-padding-left: 0.95em;--filter-white-space: nowrap;}
		10%{--filter-padding-left: 0.9em;--filter-white-space: nowrap;}
		15%{--filter-padding-left: 0.85em;--filter-white-space: nowrap;}
		20%{--filter-padding-left: 0.8em;--filter-white-space: nowrap;}
		25%{--filter-padding-left: 0.75em;--filter-white-space: nowrap;}
		30%{--filter-padding-left: 0.7em;--filter-white-space: nowrap;}
		35%{--filter-padding-left: 0.65em;--filter-white-space: nowrap;}
		40%{--filter-padding-left: 0.6em;--filter-white-space: nowrap;}
		45%{--filter-padding-left: 0.55em;--filter-white-space: nowrap;}
		50%{--filter-padding-left: 0.5em;--filter-white-space: nowrap;}
		55%{--filter-padding-left: 0.45em;--filter-white-space: nowrap;}
		60%{--filter-padding-left: 0.4em;--filter-white-space: nowrap;}
		65%{--filter-padding-left: 0.35em;--filter-white-space: nowrap;}
		70%{--filter-padding-left: 0.3em;--filter-white-space: nowrap;}
		75%{--filter-padding-left: 0.25em;--filter-white-space: nowrap;}
		80%{--filter-padding-left: 0.2em;--filter-white-space: nowrap;}
		85%{--filter-padding-left: 0.15em;--filter-white-space: nowrap;}
		90%{--filter-padding-left: 0.1em;--filter-white-space: nowrap;}
		95%{--filter-padding-left: 0.05em;--filter-white-space: nowrap;}
		100% {
			grid-template-columns: 0vw auto;
			--filter-padding-left: 0em;
			--filter-white-space: nowrap;
		}
	}
	
	.popup{
		position:fixed;
		width:100vw;
		height:100vh;
		left:0px;
		top:0px;
		background-color:var(--qna-background-colour);
		justify-content:center;
		align-items:center;
		display:none;
		z-index:100;
		&.show{
			display:flex;
		}
		.container{
		>div{
			padding-bottom:10em;
		}
			position:relative;
			.close{
				position:absolute;
				font-size:3em;
				top:0.75em;
				cursor:pointer;
				right:0.5em;
				user-select:none;
			}
			background-color:var(--qna-background-colour);
			max-width:min(100vw, 50em);
			padding:2em;
			max-height:100vh;
			overflow-y:auto;
		}
		a:link{
			background-color: white;
		}
	}
	aside{
		grid-column:1;
		height:100%;
		padding-left:var(--filter-padding-left);
		padding-top:1em;
		
		background-color:var(--aside-background-colour);
		overflow-x: var(--filter-overflowX);
		overflow-y:auto;
		white-space: var(--filter-white-space);
		#filters-close-div{
			display:grid;
			grid-template-columns: min-content 1fr max-content;
			grid-template-rows: max-content max-content max-content;
			gap: 0.33em;
			grid-template-areas: "msg msg X" 
								"qna clear X"
								"total total X";

			#swipe-msg{
				grid-area: msg;
				justify-self: start;
				display: none;
			}
			#aside-qna-button{
				grid-area:qna;
				justify-self: start;
				align-self: center;
			}
			#clear-filters-button{
				grid-area:clear;
				justify-self: start;
				align-self: center;
			}
			.selected-yuri{
				grid-area: total;
			}
			.close{
				grid-area:X;
				justify-self: end;
				align-self: start;
				padding-right:1rem;
				
				font-size:3em;
				
				cursor:pointer;
				
				user-select:none;
			}
		}
		.extras-title{
			
			padding-right: 1em;
			display:grid;
			grid-template-columns: auto 2em;
			grid-template-rows: min-content;
			user-select:none;
			cursor:pointer;
			h2{
				grid-column: 1;
				//position:relative;
			}
			.dropdown{
				grid-column:2;
				//display:block;
				//position:relative;
				//right:1em;
				font-weight:bold;
				font-size:2em;
				align-self: center;
				justify-self: center;
				//top:-0.1em;
				transform:rotate(90deg);
			}
			&.show{
				.dropdown{
					transform:rotate(270deg);
				}
			}
		}
		
		.list{
			display:none;
			&.show{
				display:block;
			}
			div{
				margin-bottom:0.1em;
				cursor:pointer;
				user-select:none;
			}
			
		}
		.multi-checkbox{
			width:1em;
			height:1em;
			margin-right:0.3em;
			border-radius:0.3em;
			transform:translateY(0.25em);
			display:inline-block;
			background-color:white;
			position:relative;
			transition:all 0.3s;
			&.active{
				background-color:green;
				&::before{
					content:'✓';
					position:absolute;
					font-size:1.0em;
					transform:translate(0.1em, -0.2em);
				}
			}
			&.removed{
				background-color:rgb(245, 72, 72);
				&::before{
					content:'x';
					position:absolute;
					font-size:1.2em;
					transform:translate(0.15em, -0.3em);
				}
			}
		}
		div.picked.language{
			font-weight:bold;
		}
		.list.language, .list.rating{
			>div{
				&.active{
					font-weight:bold;
				}
			}
		}
		.list.rating{
			>div{
				padding-left:1em;
				position:relative;
			}
			.active{
				&::before{
					content:'>';
					display:block;
					position:absolute;
					left:-0em;
					font-weight:bold;
					font-size:1.25em;
					top:-0.1em;
					transform:rotate(270deg);
				}
			}
			&.down{
				.active::before{
					transform:rotate(90deg);
				}
			}
		}
	}

	.content{
		grid-column:2;
		display:inline-flex;
		flex-wrap:wrap;
		justify-content:start;
		flex-direction:row;
		align-items: flex-start;
		align-content:flex-start;
		overflow-y:auto;
		

		background-size:cover;
		background-blend-mode:multiply;
		background-image:var(--background-image);
		background-color: var(--page-background-colour);

		#header {
			
			flex-shrink:0;
			width: 100%;
			background-color: var(--header-background-colour);
			color: var(--header-text-colour);
			height: 3rem;
			font-family: 'Indira K', serif;
			font-size: 1.5rem;
			display: flex;
  			justify-content: center;
  			align-items: center;
		}

		/* navigation section!! */
		

		#navbar {
			font-family: 'Indira K', serif;
			position:sticky;
			top:0;
			flex-shrink:0;
			height: 2.5rem;
			background-color: var(--navbar-background-colour);
			width: 100%;
			margin-bottom: 0rem;
			z-index: 3;

			
		}

		#navbar ul {
			display: flex;
			padding: 0;
			margin: 0;
			list-style-type: none;
			justify-content: space-evenly;
		}

		#navbar li {
			padding-top: 10px;
		}

		/* navigation links*/
		#navbar li a {
			color: var(--navbar-text-colour);
			
			font-weight: bold;
			font-size: 1rem;
			text-decoration: none;
			
		}

		/* navigation link when a link is hovered over */
		#navbar li a:hover {
			color: var(--navbar-hover-colour);
			text-decoration: underline;
		}

		#navbar li button:hover {
			color: var(--navbar-hover-colour);
			text-decoration: underline;
		}

		#navbar li .astext
		{
			background:none;
			border:none;
			margin:0;
			padding:0;
			cursor: pointer;
			color: var(--navbar-text-colour);
			font-weight: bold;
			font-family: inherit;
			font-size: 1rem;
			text-decoration: none;
		}
	}

	
	
	article{
		//display:flex;
		//flex-direction: column;
		align-self:stretch;

		display: grid;
		grid-template-rows: $image-height max-content;
		grid-template-columns: $image-width $data-section-width;
		grid-template-areas: "cover-image data-section"
							"tag-section tab-labels-section";
		
		margin:$default-margin;
		padding:$default-padding;
		
		
		background-color:var(--article-background-colour);
		border-radius:$default-border-radius;
		//max-width:calc(100vw - 3em);
		//height:calc($image-height + 20px);
		width:max-content;
		min-height:max-content;
		max-height:$article-max-height;

		.new{
			display:none;
		}
		&.new{
			.new{
				position:absolute;
				background-color:var(--new-background-colour);
				color:var(--new-text-colour);
				
				display:block;
				bottom:1em;
				right:-2em;
				width:8em;
				text-transform:none;
				font-size:1.5em;
				font-weight:bold;
				padding-top:0.2em;
				padding-bottom:0.2em;
				text-align:center;
				transform:rotate(-45deg);
			}
		}

		.updated{
			display:none;
		}
		&.updated{
			.updated{
				position:absolute;
				background-color:magenta;
				color:var(--new-text-colour);
				
				display:block;
				bottom:1em;
				right:-2em;
				width:8em;
				text-transform:none;
				font-size:1.5em;
				font-weight:bold;
				padding-top:0.2em;
				padding-bottom:0.2em;
				text-align:center;
				transform:rotate(-45deg);
			}
		}

		.cover-image{
			grid-area: cover-image;
			display:block;
			height:$image-height;
			min-width:$image-width;
			position:relative;
			overflow:hidden;
			align-self:start;
			border-radius:$default-border-radius;
			//align-self: stretch;
			
			
			img{
				//width:100%;
				//height:100%;
				width:$image-width;
				height:$image-height;
				object-fit: cover;
				object-position:center center;
			}
		}

		.data-section{
			overflow:hidden;
			grid-area: data-section;
			padding-top:$default-padding;
			padding-left:1rem;
			padding-right:0rem;

			max-width:$data-section-width;
			//min-height:calc($image-height - 1rem);
			height:$image-height;
			align-self: stretch;
			
			display:grid;
			grid-template-columns: 100%;
			grid-template-rows: max-content max-content 1fr;
			.title{
				grid-column: 1;
				grid-row:1;
				margin:0px;
				margin-bottom: 0.5 * $default-margin;
				font-family: serif;
				font-size:1.5em;
				//max-height:4em;
				text-overflow:ellipsis;
				overflow:hidden;   
					-webkit-box-orient: vertical; /* Indicate the text direction */
					display: -webkit-box; /* Specify that we want to use webkit-box */
				-webkit-line-clamp: 3; /* Set the desired number of lines */

			}
			.pairings{
				margin-top: 0.5 * $default-margin;
				margin-bottom: 2 * $default-margin;
				grid-column: 1 / 3;
				grid-row:2;
				button{
					appearance:unset;
					
					color:var(--tag-text-colour);
					border:unset;
					border-radius:0.3em;
					margin:0.1em;
					padding:0.1em 0.3em;
				}
				.pairing{
					width:2.5em;
					text-shadow:0px 0px 3px rgb(255, 255, 255);
					
				}
				.lesbian{
					background-image:url('../../assets/lesbian.png');
					background-size:auto 100%;
					
				}
				.aspec{
					background-image:url('../../assets/asexual.png');
					background-size:auto 100%;
				}
				.gay{
					background-image:url('../../assets/gay.png');
					background-size:auto 100%;
					
				}
				.trans{
					background-image:url('../../assets/trans.png');
					background-size:auto 100%;
					
				}
				.nonbinary{
					background-image:url('../../assets/nonbinary.png');
					background-size:auto 100%;
				}
				.open{
					background-image:url('../../assets/Open_relationship.png');
					background-size:auto 100%;
					color:var(--open-text-colour);
					text-shadow:0px 0px 5px rgb(0, 0, 0);
					
				}
				
				.status{
					&.ongoing{
						background-color:var(--ongoing-button-colour);
					}
					&.completed{
						background-color:var(--completed-button-colour);
					}
					&.cancelled{
						background-color: var(--cancelled-button-colour)
					}
					&.hiatus{
						background-color: var(--hiatus-button-colour)
					}
				}
				.length{
					&.medium{
						background-color:var(--medium-button-colour)
					}
					&.long{
						background-color: var(--long-button-colour)
					}
					&.short{
						background-color: var(--short-button-colour);
					}
					&.oneshot{
						background-color:var(--oneshot-button-colour);
					}
				}
				.type{
					&.manga{
						background-color: var(--manga-button-colour);
					}
					&.manhua{
						background-color: var(--manhua-button-colour);
					}
					&.manhwa{
						background-color: var(--manhwa-button-colour);
					}
					&.webtoon{
						background-color: var(--webtoon-button-colour);
					}
					&.webcomic{
						background-color: var(--webcomic-button-colour);
					}
					&.visual-novel{
						background-color: var(--vn-button-colour);
					}
				}
			}
			
			.tabs-content{
				grid-column: 1;
				grid-row: 3;
				//margin-top: $default-margin;
				//margin-bottom: $default-margin;
				padding: $default-padding;
				padding-bottom: 0;
				background-color: var(--tab-active-colour);
				display: none;
				width: 100%;
				align-self: stretch;

				

				.creator-button-div{

				}
				#creators{
					
				}
				#artists{
					
					.artist-label{
						display:none;
					}
					display: none;
				}
				.date-added-div{
					
				}
				.last-updated-div{
					
				}
				.info-links-div{
					
				}
				.notes-section{
					display:none;
					.notes{
						font-size: 0.8em;
						
					}
					
				}
			}
			.tabs-content1{
				border-radius:$default-border-radius $default-border-radius 0 $default-border-radius;
			}
			.tabs-content2{
				border-radius:$default-border-radius $default-border-radius 0 $default-border-radius;
			}

			// had to do this in typescript root.ts because 
			// to align things tabs-content had to be in different grid, 
			// so they no longer were siblings

			//.tabs-radio:checked + .tabs-label  + .tabs-content{
			//	display:inline-flex;
			//	flex-direction:column;
			//	background-color: red;
			//}
		
			.desc{
				//font-weight:100;
				font-size:0.8em;
				padding-top:0.25rem;
				padding-bottom:0.25rem;
			
				border-top: 0.1rem solid var(--desc-ratings-border-colour);
			}
			
			
			.centre{
				flex-grow:1;
			}
			
		
			.ratings{
				margin-bottom:$default-margin;
				padding-top:0.25rem;
				border-top: 0.1rem solid var(--desc-ratings-border-colour);
			}
			.short-desc{
				margin-top:0;
				margin-bottom: $default-margin;
				font-weight:bold;
			}
			span{
				&.spoiler{
					border-radius:0.2em;
					padding-left:0.2em;
					padding-right:0.2em;
					filter: blur(0.35em);
						transition:all 0.3s;
					&:hover{
						filter: blur(0px);
					}
				}
			}
		}

		.tab-labels-section{
			grid-area:tab-labels-section;
			overflow:hidden;
			display:grid;
			grid-template-columns: 1fr max-content;
			min-height: max-content;
			max-height: $tag-section-max-height;

			.tabs-label{
				align-self:auto;
				justify-self: flex-end;
				padding:0.5em 1em;
				height: max-content;
				cursor:pointer;
				border-radius:0 0 $default-border-radius $default-border-radius;
				background-color: var(--tab-inactive-colour);
			}
			.tabs-label1{
				grid-column:1;
				
			}
			.tabs-label2{
				grid-column: 2;
				
			}
			.tabs-radio{
				
				display:none;
			}
			.tabs-radio:checked + .tabs-label{
				font-weight:bold;
				background-color: var(--tab-active-colour);
			}
		}
		
		.tag-section{

			grid-area: tag-section;
			grid-row:2;

			flex-grow: 1;
			margin:$default-margin;
			padding:0rem;
			position:relative;
			min-height: max-content;
			max-height: $tag-section-max-height;
			width:$image-width;
			border-radius:$default-border-radius;
			

			.tags{
				button{
					appearance:unset;
					background-color: var(--tag-button-colour);
					color: var(--tag-text-colour);
					border:unset;
					border-radius:0.3em;
					margin:0.1em;
					padding:0.1em 0.3em;
					height:$tag-button-height;
					&.romance{
						//background-image:url("../../assets/heart-svgrepo-com.svg");
						background-size:100% 100%;
						//height:1.35em;
						mask:url("../../assets/heart-svgrepo-com.svg");
						mask-size:100% 100%;
						color:#00000000;
						width:1.35em;
						background-blend-mode: multiply;
					}
				}
			}
			.landmines{
				button{
					appearance:unset;
					background-color: var(--warning-colour);
					color:var(--tag-text-colour);
					border:unset;
					border-radius:0.3em;
					margin:0.1em;
					padding:0.1em 0.3em;
					height:$tag-button-height;
				}
			}
			.spoiler-tags{
				button{
					appearance:unset;
					background-color: var(--spoiler-tag-button-colour);
					color:var(--spoiler-tag-text-colour);
					border:unset;
					border-radius:0.3em;
					margin:0.1em;
					padding:0.1em 0.3em;
					height:$tag-button-height;
				}
				.spoiler-label{
					font-size: 0.8em;
					display: none;
					padding:0.1em 0.3em;
					height:$tag-button-height;
				}
			}
			.spoiler{
					
					//border-radius:0.2em;
					//padding-left:0.2em;
					//padding-right:0.2em;
					filter: blur(0.35em);
						transition:all 0.3s;
					&:hover{
						filter: blur(0px);
					}
			}
			
		}

		.spoiler{
					
					//border-radius:0.2em;
					//padding-left:0.2em;
					//padding-right:0.2em;
					filter: blur(0.35em);
						transition:all 0.3s;
					&:hover{
						filter: blur(0px);
					}
			}
		
	}
	@media (max-width: 1000px) {
		display:flex;
		article:nth-child(even){
			grid-template-columns:minmax(0, 1.2fr) minmax(0, 1fr);
			grid-template-areas: "data-section cover-image"
								"tab-labels-section tag-section";
		}
		

		aside{
			background-color: var(--aside-background-colour-mobile);
			display:block;
			position:fixed;
			left:calc(-100% - 2em);
			transition:all 0.3s;
			font-size:2em;
			z-index:4;
			width:100%;

			#filters-close-div{
				#swipe-msg{
					display: inline;
				}
				#aside-qna-button{
					font-size: inherit;
				}
				#clear-filters-button{
					font-size:inherit;
				}
			}
			
			
			&.show{
				display:block;
				left:0%;
				background-color: var(--aside-background-colour-mobile);
			}
		}
		
		

		article{
			grid-template-columns:minmax(0, 1fr) minmax(0, 1.2fr);
			grid-template-rows: ($image-height * $mobile-size-multiplier) max-content;
			//grid-template-columns: $image-width $data-section-width;
			width:calc(100vw - 1em);
			//max-height:calc($article-max-height * $mobile-size-multiplier);
			max-height:unset;
			height:max-content;
			align-self:flex-start;
			font-size:$mobile-size-multiplier * 1em;
			//margin:0px;
			border-radius:0.5rem;
			//padding:0px;
			padding-left:$default-padding;
			padding-right:$default-padding;
			margin-left:0px;
			margin-right:0px;
			.pairings, .tags{
				button{
					font-size:0.8em;
				}
			}

			.data-section{
				padding-left:$default-padding;
				padding-right:$default-padding;
				height:($image-height * $mobile-size-multiplier);
				max-width:unset;
			}

			.cover-image{
				width:calc($image-width * $mobile-size-multiplier);
				max-width:calc(100% - 2 * $default-margin);
				min-width:unset;
				height:calc($image-height * $mobile-size-multiplier);
				margin-left:$default-margin;
				margin-right:$default-margin;
				overflow: hidden;
				img{
					width:100%;
					height:100%;
					object-fit: cover;
					object-position:center center;
				}
			}
			.tab-labels-section{
				padding-right:$default-padding;
				padding-left: $default-padding;
			}
			
			.tag-section{
				width:unset;
				min-width:unset;
				max-width:fit-content;
				max-height: max-content;
			}
			
		//	>div{
		//		width:100%;
		//		max-width:unset;
		//		padding-left:0.5em;
		//		height:calc($image-height * $mobile-size-multiplier - 0.8em);
		//	}
			
			
		}
	}
	.buttons{
		display:flex;
		align-items:center;
		justify-content:center;
		>.contents{
			width:calc(4.7em * 3 * 0.8);
			display:flex;
			flex-wrap:wrap;
			button{
				appearance:unset;
				color:var(--default-text-colour);
				display:block;
				margin:0.3em;
				font-size:0.8em;
				border:0px;
				outline:0px;
				flex-shrink:1;
				flex-grow:0;
				background-color:var(--default-button-colour);
				width:4em;
				border-radius:0.3em;
				filter:drop-shadow(0.0em 0.0em 0.3em rgba(0, 0, 0, 0.685));
				height:4em;
				&:hover, &:active{
					background-color:var(--default-button-hover-active-colour);
				}
			}
		}
	}
}